@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 66.6%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: green;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: black;
}

.nav {
  height: 50px;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  background-color: #333;
  border-radius: 4px;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

.nav ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.nav li {
  display: inline;
  padding: 15px;
}

.nav a {
  display: inline-block;
  padding: 12px;
  color: #1f85bb;
  text-decoration: none;
}
.nav a:hover {
  color: #2cb0a6;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 10px 0;
}
span.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #333;
  border: 1px solid #666;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    border-radius:0
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #666;
    background-image: none;
    border: 1px solid #666;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.btn-default {
    color: #fff;
    background-color: #333;
    border-color: #666;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}

button.btn.btn-default {
    border-top-left-radius: 0;  border-bottom-left-radius: 0;
}
.container {
  padding: 0 10px;
  max-width: 300px;
  margin: 0 auto;
}

.userInfo img {
    float: left;
    margin: 0 5px 0 0;
}

.userInfo span {
    display: block;
}

span.userName {
    font-weight: bold;
    display: inline-block;
}

span.screenName {
    display: inline-block;
    color: #333;
}

.userInfo {
  background: #2cb0a6;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  margin: 10px 0;
}

span.description {
    font-size: 14px;
    line-height: 20px;
}

.tweet-details blockquote {
    margin: 0;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    width: 100% !important;
}

.tweet-details blockquote p {
    padding: 0;
    margin: 0;
}

.tweet-details blockquote a {
    color: #1f85bb;
}

.tweet-details {
  background: #fff;
  margin: 10px 0;
  border-radius: 4px;
  padding: 10px;
}

.tweet-details img {
    float: left;
    margin: 0 10px 0 0;
}

.profileInfo {
    min-height: 50px;
}

.tweet-details span.screenName {
    display: block;
}
.hide {
  display: none;
}

.loader {
    text-align: center;
}

svg path,
svg rect{
  fill: #1f85bb;
}

.owl-theme .owl-controls .owl-buttons div {
  background: #2cb0a6;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page span {
    background: #2cb0a6;
}
@media only screen and (min-width: 35.5em) {
  .container {
    max-width: 500px;
  }
}

@media only screen and (min-width: 48em) {
  .container {
    max-width: 750px;
  }
  .search-list .tweet-item {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
  }

  .search-list .tweet-details {
    height: 200px;
    overflow: hidden;
  }

  .search-list .tweet-details:hover {
      height: auto;
      min-height: 200px;
  }
}

@media only screen and (min-width: 64em) {
  .container {
    max-width: 900px;
  }
  .search-list .tweet-item {
    width: 31.2%;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
  }

}

@media only screen and (min-width: 80em) {
  .container {
    max-width: 1024px;
  }

}
