<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base href="/">

	<title>Jane's Custom Twitter Feed App</title>

	<!-- CSS -->
	<link rel="stylesheet" href="libs/normalize.css/normalize.css">
	<link rel="stylesheet" href="libs/owlcarousel/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="libs/owlcarousel/owl-carousel/owl.theme.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- JS -->
	<script src="libs/jquery/dist/jquery.min.js"></script>
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/angular-route/angular-route.min.js"></script>
	<script src="libs/angular-resource/angular-resource.min.js"></script>
	<script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="libs/owlcarousel/owl-carousel/owl.carousel.min.js"></script>

	<!-- ANGULAR CUSTOM -->
	<script src="js/controllers/IndexCtrl.js"></script>
	<script src="js/controllers/SearchCtrl.js"></script>
	<script src="js/app.js"></script>

</head>
<body ng-app="TwitterApp" ng-controller="IndexController">
	<div class="container">

	<!-- NAV -->
	<nav class="navbar navbar-inverse">
		<ul class="nav navbar-nav">
			<li><a href="/">User</a></li>
			<li><a href="/search">Search</a></li>
		</ul>
	</nav>

	<form class="input-group" ng-submit="getTweetsSubmit()" >
		<span class="input-group-addon">@</span>

			<!-- this text input is binded to a variable in the javascript controller -->
			<input type="text" class="form-control" placeholder="liquid_tweets" ng-model="username">

			<span class="input-group-btn">
			<button class="btn btn-default" type="submit">Get Tweets</button>
		</span>

	</form>
	<div class="userInfo hide">
		<img src="{{userInfo.profile_image_url}}"/>
		<div class="profileInfo">
			<span class="userName">{{userInfo.name}}</span>
			<span class="screenName">@{{userInfo.screen_name}}</span>
			<span class="location">{{userInfo.location}}</span>
			<span class="description">{{userInfo.description}}</span>
		</div>
	</div>
	<div id="owl-example">
		<div ng-repeat="tweet in tweetsResult" class="tweet-item" my-repeat-directive>
			<!-- binding to Tweet source property -->
			<div class="tweet-details">
				<!-- play around with rendering different Tweet properties -->
				<div ng-bind-html="tweet.oEmbed.html"></div>
			</div>
		</div>
	</div>
	<div class="loader">
	  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
	  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
	    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
	    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path>
	  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
	    C22.32,8.481,24.301,9.057,26.013,10.047z" transform="rotate(283.915 20 20)">
	    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatCount="indefinite"></animateTransform>
	    </path>
	  </svg>
	</div>
	<!-- this button will trigger the getMoreTweets function in the javascript controller -->
  	<button type="button" class="load-more-btn btn btn-default" ng-click="getMoreTweets()">Get More Tweets</button>

	</div>
</body>
</html>

